.mainphoto {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
}

.intro-points {
  padding-bottom: 30px
}

}
.smalltext {
  font-size: 10pt;
  font-weight: bold;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 10pt;
}

.bullet {
  list-style-position: inside;
  list-style-type: circle;
  text-align: center;
}

.badlands {
  display: block;
  width: 100%;
  height: 100%;
}

.back1 {
  background-image: url("../img/back1.jpg");
  width: 50%;
  height: auto;
  float: left;
}
.row1{
width: 50%;
height: 500px;
}

.row-padded {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccf5ff;
  border-style: hidden;
  border-radius: 10px;
}

.row {
  border-radius: 10px
}

.text {
  word-wrap: break-word;
  height: auto;
  display: block;

}

.row {
  background-repeat: no-repeat;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
}

.project-box {
  background-color: #fff
  color: black
}

ul {
  list-style: none;
}
